@using Demo.presntation.ViewModels

@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All"></div>
            <input asp-for="PassWord" placeholder="PassWord" required="">
            <span asp-validation-for="PassWord"></span>
            <br />
            <input asp-for="ConfrimPassword" placeholder="Confirm Password" required="">
            <span asp-validation-for="ConfrimPassword"></span>
            <br />

            <input type="submit" value="Change Password">
        </form>
        <p> <a asp-action="Login">Cancel</a></p>
    </div>
</div>
